
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body {
  padding:0;
  margin: 0;
}

@layer base {
  h1 {
    @apply text-4xl lg:text-6xl  
  }

  h2 {
    @apply text-3xl sm:text-4xl 
  }

  h3 {
    @apply text-2xl sm:text-3xl 
  }

  h4 {
    @apply text-xl sm:text-2xl 
  }

  h5 {
    @apply text-xl
  }

  p {
    @apply text-[14px] sm:text-[16px]
  }

  li {
    @apply cursor-pointer list-none text-[18px] sm:text-[20px]
  }
}
